<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheet/styles.css">
    <title>FamousWorks</title>
</head>
<body id="third-body">
    <ul class="another-list">
        <li><a href="home.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="gallery.html">Photo Gallery</a></li>
    </ul>
    <section id="third-main">
    <h1 id="third-header">Famous Artwork</h1>
    <p>Mona Lisa (c. 1503–19)</p>
    <p>Last Supper (c. 1495–98)</p>
    <p>Vitruvian Man (c. 1490)</p>
    <p>Self Portrait (c. 1490/1515–16)</p>
    <p>The Virgin of the Rocks (c. 1483–86)</p>
    <p>Head of a Woman (1500–10)</p>
    <p>Lady with an Ermine (c. 1489–91)</p>
    <p>Salvator Mundi (c. 1500)</p>
    <p>Ginevra de’ Benci (c. 1474/78)</p>
    <p>The Virgin and Child with Saint Anne (c. 1503–19)</p>
</section>
</body>
</html>